# veri analizi kütüphanesi
pandas
# makine öğrenmesi kütüphaneleri
scikit_learn
tensorflow
# matematik kütüphaneleri
numpy
scipy
# veri görselleştirme
matplotlib

# test frameworkü
pytest

#diğer
networkx